@import "global";

.widget{
  pointer-events: visible;
  min-width: 240px;
  min-height: 240px;
  position: absolute;
  border-radius: $border-radius-base;
  border: $border-main;
  background:mix($second-color,$opacity-color);
}
.widget-header{
  width:calc(100% - $padding-base );
  height: 24px;
  padding: $padding-base/2;
  background:$main-color;
}
.widget-body{
  display:flex;
  width:100%;
  max-height:calc(100% - 24px - ($padding-base * 2));
  background:red;
}